<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99349547360-21d66lvcgfv4io74m5opf6kp3l7t92im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99349547360-21d66lvcgfv4io74m5opf6kp3l7t92im</string>
	<key>API_KEY</key>
	<string>AIzaSyAdhoH5TGJBcAQsvfI6tKl7Qu3VBbzYaU4</string>
	<key>GCM_SENDER_ID</key>
	<string>99349547360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.player</string>
	<key>PROJECT_ID</key>
	<string>playeronflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>playeronflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99349547360:ios:bd33d96242904c8ac13605</string>
</dict>
</plist>